body {
  background-color: #F4F3F5;
  color: #7A8528;
  font-family : 'Ubuntu', sans-serif;
  font-size: 14px;
}

.logo {
  text-align: center;
}

.slogan {
  text-align: center;
  font-size: 4rem;
}

.description {
  text-align: center;
  font-size: 2rem;
}

.normal-text {
  text-align: center;
  font-size: 1.3rem;
}

.quick-link {
  text-align: center;
  font-size: 1.3rem;

  img {
    width: 64px;
    height: 64px;
  }

  ul {
    list-style: none;
  }

  a {
    color: #7A8528;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: darkred;
    }
  }
}