body {
    background-color: #F4F3F5;
    color: #7A8528;
    font-family : 'Ubuntu', sans-serif;
    font-size: 14px;
}

.logo {
    text-align: center;
}

.slogan {
    text-align: center;
    font-size: 4rem;
}